html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Base Styles -------------------- */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1,
h2 {
  font-family: "Abolition Regular", Helvetica, Arial, sans-serif; }

h2 {
  font-size: 3.3125em;
  line-hegiht: 1.1;
  font-weight: normal;
  margin: 0 0 .5em; }

h3 {
  font-size: 1.25em;
  line-hegiht: 1.2;
  color: #48525c;
  margin-bottom: 1.7em; }

ul,
ol {
  list-style: none;
  margin: 0; }

li {
  margin-bottom: 10px; }

p {
  min-height: 60px;
  margin: 0; }

header {
  background-color: lightblue; }
  header ul {
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }

.navbar {
  background-color: #369;
  color: white; }
  .navbar li {
    display: inline;
    margin: .1em .5em; }

/* Pseudo-classes ------------------ */
a:link {
  color: #ffa949;
  text-decoration: none; }
a:visited {
  color: #add8e6; }
a:hover {
  color: rgba(255, 169, 73, 0.4); }

/* Grid ------------------ */
#main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 92vw;
  margin: 3%; }
  #main::after {
    clear: both;
    content: "";
    display: block; }

#main-tile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: pink;
  border-top: 1px solid pink; }
  #main-tile:last-child {
    margin-right: 0; }
  #main-tile img {
    max-width: 100%; }

.news-tile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 15em;
  background-color: lightgrey;
  margin-top: 1.5em;
  border-top: 1px solid aquamarine; }
  .news-tile:last-child {
    margin-right: 0; }
  .news-tile img {
    height: 150px;
    width: 300px; }

.story {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: lightgrey; }
  .story:last-child {
    margin-right: 0; }

#news-gallery-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  margin-top: 1.5em;
  border-top: 1px solid goldenrod; }
  #news-gallery-1:last-child {
    margin-right: 0; }

.gallery-tile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  max-width: 300px; }
  .gallery-tile:last-child {
    margin-right: 0; }
  .gallery-tile img {
    width: 100%;
    border-top: 1px solid goldenrod; }
  .gallery-tile p {
    width: 100%; }

#footer {
  background-color: darkgrey;
  color: white;
  margin: 0;
  padding: 1em; }

#footernav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: darkgrey;
  margin: 0;
  color: white; }
  #footernav:last-child {
    margin-right: 0; }

#footer-nav-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background-color: darkgrey; }
  #footer-nav-1:last-child {
    margin-right: 0; }

#footer-nav-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background-color: darkgrey; }
  #footer-nav-2:last-child {
    margin-right: 0; }

#main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto; }
  #main::after {
    clear: both;
    content: "";
    display: block; }

#copyright {
  background-color: darkgray;
  color: white;
  padding: 1em; }

/* Floated Columns ------------------ */
.main-header {
  text-align: center; }

/*# sourceMappingURL=application.css.map */
