/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: $stack-abolition;
}

h2 {
  @include text(3.3125em, 1.1, normal);
  margin: 0 0 .5em;
}

h3 {
  @include text(1.25em, 1.2, $color: $color-text-dark);
  margin-bottom: 1.7em;
}


ul,
ol {
    list-style: none;
    margin: 0;
}

li {
  margin-bottom: 10px;
}

p {
  min-height: 60px;
  margin: 0;
}

header {
  background-color: lightblue;
  ul {
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
}

// Nav Style

.navbar {
  background-color: #369;
  color: white;
  li {
    display: inline;
    margin: .1em .5em;
  }
}


/* Pseudo-classes ------------------ */

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }

  &:visited {
    color: $color-link-visited;
  }

  &:hover {
    color: rgba($color-link-default, .4);
  }
}

/* Grid ------------------ */

#main {
  @include outer-container();
  background-color: white;
  width: 92vw;
  margin: 3%;
}

#main-tile {
  @include span-columns(12);
  background-color: pink;
  border-top: 1px solid pink;
  img {
    max-width: 100%;
  }
}

.news-tile {
  @include span-columns(12 of 12);
  height: 15em;
  background-color: lightgrey;
  margin-top: 1.5em;
  border-top: 1px solid aquamarine;
    img {
      height: 150px;
      width: 300px;
    }
}


.story {
  @include span-columns(12 of 12);
  background-color: lightgrey;
}

#news-gallery-1 {
  @include span-columns(12 of 12);
  background-color: white;
  margin-top: 1.5em;
  border-top: 1px solid goldenrod;
}

.gallery-tile {
  @include span-columns(6 of 12);
  max-width: 300px;
    img {
      width: 100%;

    border-top: 1px solid goldenrod;
  }
    p {
      width: 100%;
    }

}

#footer {
  background-color: darkgrey;
  color: white;
  margin: 0;
  padding: 1em;
}

#footernav{
  @include span-columns(12 of 12);
  background-color: darkgrey;
  margin: 0;
  color: white;
}

#footer-nav-1{
  @include span-columns(6 of 12);
  background-color: darkgrey;
}

#footer-nav-2{
  @include span-columns(6 of 12);
  background-color: darkgrey;
}

#main {
  @include outer-container(1500px);
  }

  #copyright {
    background-color: darkgray;
    color: white;
    padding: 1em;
  }


// Our columns
